# Ignore build and binary folders for language statistics
build/* linguist-vendored
dist/* linguist-vendored
.vscode/* linguist-vendored
*.spec linguist-vendored
*.toc linguist-vendored

# Optional: ignore docs or latex files if they exist
*.tex linguist-vendored
*.html linguist-vendored
*.css linguist-vendored